{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ program.title }}</h1>
    <div>
        <img class="icone" src="{{ program.poster }}" alt="{{ program.title }}">
    </div>
    <h2>{{ season.description }}</h2>
    <h3>{{ episode.number }} / {{ episode.title }}</h3>
    <p>{{ episode.synopsis }}</p>

{% endblock %}