{%  extends 'base.html.twig' %}

{% block body %}
    <div class="all-series m-5">
        <h1>Toutes les Séries : </h1>

        {% for program in programs %}
            <div class="serie mb-4">
                <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                <div class="d-flex flex-row">
                    <img class="icone align-self-start mx-3" src="{{program.poster}}" alt="{{ program.title }} poster">
                    <p>{{ program.summary }}</p>
                </div>
                <div class="m-3">
                    <a href="{{ path("program_show", { program: program.id }) }}">Voir la série</a>
                </div>
            </div>

            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li> <a href="{{ path("actor_show", { actor: actor.id }) }}">{{ actor.name }}</a> </li>

                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>

        {% else %}
            Aucune série trouvée.
        {% endfor %}

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}