{%  extends 'base.html.twig' %}

{% block title %}Série {{ program.title }}{% endblock %}

{% block body %}
    <div class="m-5">
        <h1> Série {{ program.title }} </h1>
       <img src="{{ program.poster }}" alt=" {{ program.title }}"/>
            <div>
               <h1 class="my-4"> {{ season.description }}</h1>
                {% for episode in episodes %}
                <a class= "text-decoration-none text-black" href="{{ path("program_episode_show", { program: program.id, season: season.id , episode: episode.id}) }}">
                    <p>Episode {{ episode.number }} => {{ episode.title }}</p>
                </a>

                {% endfor %}
            </div>
    </div>

{% endblock %}