{%  extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   <div class="media m-5">
      <h1>{{ program.title }}</h1>
      <img class="img-poster align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
      <div class="media-body mt-3">
         <p>{{ program.summary }}</p>
         <ul>
            {% for season in seasons %}
               <a class="text-decoration-none text-black" href="{{ path('program_show_season',{slugi: program.slugi, season: season.id}) }}" >
                  <li> <h4> {{ season.description }} </h4></li>
               </a>
                   Année de diffusion  => {{ season.year }}
                  </li>
            {%  endfor %}
             <div class="mt-2">
                 <a href="{{ path('season_new', {program : program.id}) }}"> => Ajouter une saison à la série</a>
             </div>
         </ul>
         <p>Catégorie : {{ program.category.name }}</p>
      </div>
      <a href="{{ path('program_index') }}">
         Retour à la liste des programmes
      </a>
   </div>


{% endblock %}