{%  extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   <div class="media m-5">
      <h1>{{ program.title }}</h1>
      <img class="img-poster align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
      <div class="media-body mt-3">
         <p>{{ program.summary }}</p>
         <ul>
            {% for season in seasons %}
               <li> <h4> {{ season.description }} </h4> Année de production  => {{ season.year }}</li>
               <a href="{{ path('program_show_season',{programId : program.id, seasonId : season.id}) }}" > Voir la saison </a>
            {%  endfor %}
         </ul>
         <p>Catégorie : {{ program.category.name }}</p>
      </div>
      <a href="{{ path('program_index') }}">
         Retour à la liste des programmes
      </a>
   </div>


{% endblock %}